.heading-2 {
  font-size: 2.8rem; }

.font-lg {
  font-size: 1.8rem; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 57.5%; } }

body {
  font-family: "Open Sans", sans-serif;
  color: #333d36;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #ffffff; }

p {
  font-weight: 300;
  font-size: 1.6rem; }

.heading-4 {
  font-size: 1.9rem;
  font-weight: 400;
  font-family: "Fredericka the Great", cursive; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.heading-3 {
  font-size: 2rem;
  font-family: "Fredericka the Great", cursive;
  font-weight: 400; }
  .heading-3--light {
    color: #f9f7f6; }
  .heading-3--dark {
    color: #54483A; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-1 {
  line-height: 1;
  color: #f9f7f6;
  font-size: 4.5rem;
  font-family: "Fredericka the Great", cursive; }
  .heading-1:hover {
    animation: bounce 1s ease; }

.btn {
  border: none;
  background-color: #333d36;
  color: #fff;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #2b2c28; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.mygap {
  padding: 10rem 0rem;
  background-color: white;
  color: red; }

.noListSytle {
  list-style: none; }

.margin-btm-sm {
  margin-bottom: 1rem; }

.margin-btm-med {
  margin-bottom: 3rem; }

.section-padding {
  padding: 8rem 0rem; }

.thickquote {
  font-weight: 800;
  font-size: 150%; }

.transparent {
  background-color: transparent;
  display: inline-block;
  border: none; }

.animatedBounce:hover {
  animation: bounce 1s; }

.animatedJello:hover {
  animation: jello 1s; }

/*Creates the animation on the page load. Give it a name to specifiy and reuse in other classes or ids. */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-4rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes expandIt {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  90% {
    opacity: 1;
    transform: scale(1.2); }
  100% {
    tranform: scale(1); } }

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@-webkit-keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% {
    -webkit-transform: skewX(0.39063deg) skewY(0.39063deg);
    transform: skewX(0.39063deg) skewY(0.39063deg); }
  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    transform: skewX(-0.19531deg) skewY(-0.19531deg); } }

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% {
    -webkit-transform: skewX(0.39063deg) skewY(0.39063deg);
    transform: skewX(0.39063deg) skewY(0.39063deg); }
  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    transform: skewX(-0.19531deg) skewY(-0.19531deg); } }

.nav {
  grid-column: full-start/ full-end;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../img/yeg.jpg);
  color: #ffffff;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  justify-items: center;
  align-items: center; }
  .nav__logo {
    grid-column: col-start 1/col-end 4;
    font-family: "Fredericka the Great", cursive;
    font-size: 4rem; }
    @media only screen and (max-width: 50em) {
      .nav__logo {
        grid-column: full-start /full-end;
        font-size: 3rem;
        align-self: center; } }
    @media screen and (max-width: 37.5em) {
      .nav__logo {
        grid-column: col-start 1/col-end 11; } }
  .nav__list {
    grid-column: col-start 5/full-end;
    display: flex;
    justify-self: space-between;
    list-style: none;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif; }
    @media only screen and (max-width: 62.5em) {
      .nav__list {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 50em) {
      .nav__list {
        grid-column: full-start/full-end; } }
  .nav__item:hover {
    letter-spacing: 1px;
    transform: scale(1.05); }
  .nav__link {
    padding: 1rem 2rem;
    margin: .2rem;
    color: #ffffff;
    text-decoration: none; }
    @media only screen and (max-width: 62.5em) {
      .nav__link {
        padding: 1rem 1rem; } }
  .nav__main__link {
    text-decoration: none; }

.footer {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.95)), url(../img/yeg.jpg);
  background-position: center bottom;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  display: grid; }
  .footer__holder {
    grid-column: col-start 1/ col-end 8;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    align-items: center;
    justify-items: center;
    color: #f9f7f6;
    letter-spacing: 2px; }
    @media screen and (max-width: 37.5em) {
      .footer__holder {
        letter-spacing: normal;
        grid-column: full-start / full-end; } }
  .footer__link {
    padding: 1rem 2rem;
    margin: .2rem;
    color: #ffffff;
    text-decoration: none; }

.container {
  display: grid;
  grid-template-rows: [nav] minmax(8rem, 15vh) [lander] minmax(50rem, 85vh) [r3] minmax(min-content, 70vh) [r4] minmax(min-content, 80vh) [r5] minmax(min-content, 70vh) [r6] minmax(min-content, 70vh) [r7] 20vh;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  background-color: #ffffff; }
  .container > * {
    font-size: 1.6rem; }

.form1,
.form2 {
  display: grid;
  grid-template-rows: minmax(8rem, 15vh) minmax(5rem, 85vh);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  background-color: #ffffff; }
  .form1 > *,
  .form2 > * {
    font-size: 1.6rem; }

.thankyou {
  display: grid;
  grid-template-rows: minmax(8rem, 15vh) minmax(50rem, 70vh) minmax(8rem, 15vh);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  background-color: #ffffff; }
  .thankyou > * {
    font-size: 1.6rem; }

.btn, .btn:link, .btn:visited {
  margin-top: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 5rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  z-index: 80;
  padding: 1.5rem 4rem;
  font-weight: 500; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.24);
  transform: scale(1.03);
  font-size: 1.7rem;
  background-color: orange; }

.btn--primary {
  background-color: orange;
  color: white; }

.btn--animate {
  animation: expandIt 1.4s cubic-bezier(0.67, 0.8, 1, 0.35); }

.thanks__icon {
  fill: #333d36;
  width: 4.5rem;
  height: 4.5rem; }

.thanks__imgbox {
  background-size: cover;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.thanks__textbox {
  background-size: cover;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.thanks__header {
  color: orange;
  font-size: 3.6rem;
  animation: moveInTop 2.3s ease-in; }

.thanks__secondary {
  font-weight: 500;
  font-size: 2.2rem;
  animation: moveInBottom 1s ease-in; }

.landing {
  grid-column: full-start/ full-end;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.5)), url(../img/drivingInSnow.jpg);
  background-size: cover;
  background-position: center;
  object-fit: center;
  position: relative; }
  .landing__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .landing__text--primary {
      animation: moveInLeft 1.3s ease-in; }
    .landing__text--secondary {
      animation: moveInRight 1.4s ease-in-out; }

.courses {
  grid-column: col-start 1 / col-end 12;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem; }

.course {
  background-color: #fc1818;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(1fr); }
  .course__image {
    grid-column: 1/-1;
    grid-row: 1/2;
    max-height: 21.5rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block; }
  .course__header {
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
    margin-top: 1rem;
    background-color: #333d36;
    padding: 1.5rem 4rem;
    transform: translateY(-75%);
    display: block;
    position: relative; }
    .course__header:hover {
      background-color: orange;
      box-shadow: 0 4px rgba(71, 68, 68, 0.3); }
    .course__header:hover .course__header-link {
      font-size: 1.8rem; }
    .course__header:active {
      background-color: orange;
      box-shadow: 0 2px rgba(71, 68, 68, 0.3);
      top: 3px; }
    .course__header-link {
      color: #ffffff;
      text-decoration: none; }
  .course__content {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    @media screen and (max-width: 62.5em) {
      .course__content {
        display: grid;
        grid-template-columns: 20% 80%; } }
  .course__icon {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    fill: #2b2c28; }
    @media screen and (max-width: 62.5em) {
      .course__icon {
        justify-self: flex-end;
        display: inline; } }
  .course__blurb {
    font-weight: 500; }
    @media screen and (max-width: 62.5em) {
      .course__blurb {
        display: inline-block;
        width: 100%;
        text-align: center; } }

.features {
  grid-column: col-start 1 / col-end 12;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 2rem; }

.feature {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
  justify-items: center;
  align-items: start;
  grid-row-gap: 1rem; }
  .feature:hover {
    background-color: #333d36;
    color: #aaa; }
  .feature:hover .feature__icon {
    fill: #aaa; }
  .feature__icon {
    width: 6rem;
    height: 6rem;
    fill: #333d36;
    align-self: flex-end; }
  .feature__header {
    font-size: 2.2rem;
    text-align: center; }
  .feature__text {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center; }

.reviews {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #2b2c28;
  background-image: linear-gradient(to left top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/yeg.jpg);
  background-position: center; }
  .reviews p {
    transform: skewX(-12deg);
    font-weight: 400; }
  @media only screen and (max-width: 75em) {
    .reviews {
      background-image: linear-gradient(to left top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/yeg.jpg);
      display: grid;
      grid-template-columns: repeat(auto-fit, 1fr); } }
  .reviews__header {
    font-size: 3.4rem; }
  .reviews__text {
    font-size: 1.875rem;
    font-weight: 100; }
  .reviews__textbox {
    width: 75%;
    padding: 5rem 0rem;
    transform: skewX(12deg);
    background-color: rgba(255, 255, 255, 0.6);
    display: grid;
    grid-column: 1/2;
    align-self: center;
    justify-items: center;
    justify-self: center;
    align-content: center; }
    @media screen and (max-width: 37.5em) {
      .reviews__textbox {
        transform: skewX(0); } }
    .reviews__textbox > * {
      transform: skewX(-12deg); }
      @media screen and (max-width: 37.5em) {
        .reviews__textbox > * {
          transform: skewX(0); } }
    @media only screen and (max-width: 75em) {
      .reviews__textbox {
        grid-column: 1/-1;
        margin: 5rem 0rem;
        padding: 2rem 0rem; } }
  .reviews__lightbox {
    align-self: center;
    justify-self: center;
    justify-items: center;
    align-content: center;
    display: grid; }
    @media only screen and (max-width: 75em) {
      .reviews__lightbox {
        grid-column: 1/-1;
        margin: 2rem 0rem;
        padding: 2rem 0rem; } }
  .reviews__box {
    display: grid;
    padding: 3rem 3rem;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.6);
    grid-template-columns: 1fr;
    transform: skewX(12deg); }
    @media screen and (max-width: 37.5em) {
      .reviews__box {
        transform: skewX(0); } }
    @media only screen and (max-width: 75em) {
      .reviews__box {
        align-self: center;
        align-content: center;
        align-items: center;
        padding: 2rem 0rem; } }
    .reviews__box--a {
      display: flex;
      flex-direction: row;
      margin: 1.5rem 3rem;
      align-items: center;
      justify-items: center;
      justify-content: center;
      justify-self: center; }
    .reviews__box--circle {
      padding: 2rem;
      border-radius: 50%;
      height: 6rem;
      width: 6rem;
      margin-right: 1rem;
      transform: skewX(-12deg); }
      @media screen and (max-width: 37.5em) {
        .reviews__box--circle {
          display: none;
          width: 0;
          height: 0; } }
    .reviews__box--red {
      background-color: #fc1818; }
    .reviews__box--yellow {
      background-color: yellow; }
    .reviews__box--green {
      background-color: green; }
  @media screen and (max-width: 37.5em) {
    .reviews__callout {
      padding: 0rem 1.3rem; } }

.cta {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to right bottom, #f9f7f6, #aaa);
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .cta__holder {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 25%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, rgba(255, 255, 255, 0) 75%), url(../img/road.jpg);
    grid-column: col-start 1/col-end 12;
    background-size: 100%;
    padding: 5rem 3rem;
    margin: 5rem 0rem;
    box-shadow: 0 1.5rem 4rem rgba(51, 61, 54, 0.6);
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(4, [col-start] minmax(min-content, 40rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    grid-template-rows: repeat(3, 1fr); }
    @media screen and (max-width: 50em) {
      .cta__holder {
        background-size: 150%;
        background-position: center; } }
    @media screen and (max-width: 50em) {
      .cta__holder {
        grid-column: full-start / full-end;
        background-size: 250%; } }

.form {
  grid-column: 2/-1;
  grid-row: 1/ span 3;
  align-self: center;
  justify-self: center; }
  .form--group:not(:last-child) {
    margin-bottom: 2rem; }
  .form--heading {
    font-size: 3.2rem;
    margin-bottom: 3rem; }
  .form__link {
    text-decoration: none;
    color: #f9f7f6; }
  .form--input {
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.6rem;
    border-bottom: 3px solid transparent;
    outline: none;
    display: block;
    color: #333d36;
    width: 90%; }
    .form--input::-webkit-input-placeholder {
      color: #aaa; }
    .form--input:focus {
      outline: none;
      border-bottom: 3px solid #66c44e; }
    .form--input:focus:invalid {
      border-bottom: 3px solid #fc1818; }
  .form__radio--group:not(last-child) {
    margin-bottom: 2rem; }
  .form__radio--input {
    display: none; }
  .form__radio--label {
    position: relative;
    padding-left: 4rem; }
  .form__radio--btn {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 0.5rem solid #333d36;
    position: absolute;
    top: -.4rem;
    left: 0rem;
    font-size: 3rem; }
    .form__radio--btn::after {
      content: "";
      display: block;
      height: 1rem;
      width: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #333d36;
      opacity: 0;
      transition: opacity 0.2s ease-in; }
  .form__radio--input:checked ~ .form__radio--label {
    font-weight: 700;
    border-bottom: 3px solid orange;
    border-width: 2px; }
  .form__radio--input:checked ~ .form__radio--label .form__radio--btn::after {
    opacity: 1;
    background-color: orange; }
