.realtors{
  
    padding: 3rem;
    background-color: $color-secondary;
    grid-column: col-end 6/ full-end;

    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-row-gap: 2rem;
    @media only screen and (max-width: $bp-medium){  
        grid-column: 1 / -1;
    }
  

    &__img{
        width: 7rem;
        border-radius: 50%;
        display: block;
    }
    &__list{

        display: grid;
        align-items: center;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh;
        @media only screen and (max-width: $bp-medium){
            grid-template-columns: repeat(3,min-content max-content);
        }
        @media only screen and (max-width: $bp-small){
            grid-template-columns: min-content max-content;
         }
     
    }
    &__sold{
        color: $color-grey-light-2;
       // text-transform: uppercase;
        font-size: 1.1rem;
     
       
    }

}