.sidebar{
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    display:flex;
    justify-content: center;
   

    @media only screen and (max-width: $bp-large){
        grid-column: full-start / full-end;
        grid-row: 1 / 2;
        justify-content: flex-end;
        align-items: center;
    }

}

.nav-btn {
    border:none;
    border-radius: 0;
    background-color: #fff;
    height: 2px;
    width: 3.5rem;
    margin-top: 3.5rem;
   
   
    
    &::before,
    &::after {
        background-color: #fff;
        height: 2px;
        width: 3.5rem;
        content: "";
        display: block;

    }
    &::after{
        transform: translateY(-1.2rem);
    }

    &::before{
        transform: translateY(1.2rem);
    }


    @media only screen and (max-width: $bp-large){
        margin-right: 1rem;
        margin-top: 0;
      
        &::after{transform: translateY(-1.2rem);}
        &::before{transform: translateY(1.0rem);}
    }
}