@mixin clearfix {
    &::after{
    content: '';
    clear: both;
    display: table;
    }
   
}

//MEDIA QUERY MANAGER 
/*
0 -600: PHONE

600 - 900: TABLE PORTRAIT

900- 1200: TABLE LANDSCAPE

1200-1800: NORMAL

1800+ big DESKTOP
*/

/* $breakpoint argument choices
- phone
-tab-port
-tab-land
-big-desktop

1 em is 16 px
em is the best unit for media queries.
*/
@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media (max-width:37.5em) {@content}; //600px
    }
    @if $breakpoint == tab-port{
        @media (max-width:56.25em) {@content}; //900px
    }
    @if $breakpoint == tab-land{
        @media (max-width:75em) {@content}; //1200px
    }
    @if $breakpoint == big-desktop{
        @media (min-width:112.5em) {@content}; //1800px
    }
}