/* Customer Header Logo */
#mainNav .navbar-brand {
    color: #fdcc52;
    font-family: Catamaran,Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 8px;
    transition: .2s ease-in;
}
#mainNav .navbar-brand:hover {
    color: #fdcc52;
    font-family: Catamaran,Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 16px;
    transform: scale(1.4);
    text-transform: uppercase;
}

.custom__logo{
    color: #fdcc52;
}

/* style the radio buttons */
input[type = radio] {
    display:none;
}
input[type = radio] + label {
    background: url('https://lh3.googleusercontent.com/CSygHWUdWSpIIfoPv3gwc0PctzOTVFGSCcSel4lOtxBBofmpt1QJxOF8MwrXbi0lIxxnKw2Cj6btMFTJZIGxWpkNpHZL41cOa5sgeSgtlsmat7YjkQlrU2XbmhPrxZwElMf9hucSAfEgF0VRLQy58ATRdf1mQULv5VcfnWFyus03KF8Egtg_pwW1_LRnklFEAUUZ_TyzEqFM3cp6G_aDyQpNCKxNvoLWkrcV-tgxqxQGAqC45JAkWWNXSxKgXD8TINX_xO1oml6fh_qVC32SwSQZqkk8Mkhvi2V3DSME0BzcS7wlku5tUK9ijkksro3Wp9kS7Ng4kyPDpkhZAh0kaiKXe4vUXfpZhhXuVjMwaP04HmMFJ7tjKt7bKvIHo0LcKv1zbbQsJ5ZTbI9wRabnUk9dWZtKE0w9BwiNbHuw1JrJBzmSCon9aQZD2DCD72DZEgaUchpdWKi-jShqHvrhaUYUeOUQiImDmo9NBKocQIW76p69uns8tbm1XXohE6tc-PKj8Cx66YtZLm4oUsvppee7Sw92GBFNvMPP9BGZSvxZmpV6TV5rNga1JBJOCMKw76SuYRNob9jCPmjzVMYjmFN8GknmaqOti7kh-QP7IlTUleyq=w25-h24-no') left top no-repeat;
	display: block;
	min-height: 25px;
	padding-left: 35px;
}
input[type = radio]:checked + label {
    background: url('https://lh3.googleusercontent.com/QSVgoBuOonsWKUZm6m0NKwekEvkfMOWrPFfevisISZjzeu2uQkxMOY1MUh3QgorRu2qc1kwKX4So7-mGJ-hayMAitq15L63KQNBfsOcm1qmWDU657CNl4lauYhgVz7f59IMrZBg8FWdgh26VDCvGMwUqaK6CBVv13AdKbxDMeDqiZS73EgzF5kBW5smh1nxCY5Gqk8yCmDsYh4KixdZWKGW7BqXLZn7cB2fQV4-o0DePjN69GJLXmddJ6H32CBgiFKE4smBvb1ByWpREmRYpFEUaHuQdbhHiiebI4Kipz35I6OxsVxKC6HOIQC3Xk6JVePhgudB2_-8Nyq2M9rWqIap8kAhmN-FI8iRdSLXhTV4FEeTHqokQ0qEXEZ5N9dRKoXT3al1Alcwrson_OtaALHldR9O7BO6Iq5_BV7-ERpoSYD8wGGhCcWQbjKkz5qHTa8yWRAfZaCLnK8Dzs0DPJtgMjQirittz8cpQQxQM4fhzXvG2x_Dtev4Y1YcZbzsaU6FpamC188SkjEDGOjYnf6CTk0VVbPk1DXFPIEGbOmc7b1unsq7uHOOkuRkGnTQ_d8aLNNPpeDvxP4agpI-ycfdH2ciG4sRXSKcdeAXGIHhNaI9T=w25-h24-no') left top no-repeat;
}


/* Result Transitions */
.result__transition{
    background: linear-gradient( to right bottom, bisque, rgb(252, 245, 237));
}
.result__transition:hover {
    background: white;
    color:black;
}


 /** Fade in Up Big Transitions **/ 

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

/* Quote Form Labels*/
.quoteForm__label{
    font-weight: 600;
}

/* Styling the Button */
.button__custom:hover{
    transform: translateY(-.1rem);
    box-shadow: .5rem 1rem 2rem rgba(black, 0.24);
  
}
.button__custom:hover:after{
    content: "";
    display: inline-block;
    transform: scaleX(1.5) scaleY(1.7);
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
}

section.features .feature-item i{
    transition: 1s linear;
} 


section.features .feature-item:hover i{
    background: linear-gradient(to right bottom, #dc2430,#7b4397); 
    font-size: 80px;
    display: block;
    transform: skewX(-20deg);
    margin-bottom: 15px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

/* Create animation on the social media icons */
.social-twitter:hover .fa-twitter{
    animation: bounce 1s;
}

.social-google-plus:hover .fa-google-plus{
    animation: tada 1s;
}

.social-facebook:hover .fa-facebook{
    animation: rubberBand 1s;
}