.footer{
    grid-column:  full-start / full-end;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-black, .85),
        rgba($color-black, 0.95)),
        url(../img/yeg.jpg)
    ;
    background-position: center bottom;
    grid-template-columns: 
    [full-start] minmax(6rem,1fr)
    [center-start] repeat(8, [col-start] minmax(min-content,12rem) [col-end]) 
    [center-end] minmax(6rem,1fr) [full-end];
    display: grid;
    &__holder{
        grid-column: col-start 1/ col-end 8;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
        align-items: center;
        justify-items: center;
        color: $color-grey-light-1;
        letter-spacing: 2px;
        @media screen and (max-width: $bp-small) {
            letter-spacing: normal;
            grid-column:  full-start / full-end;
        }
    }
    &__link{
        padding: 1rem 2rem;
        margin: .2rem;
        color:$color-white;
        text-decoration: none;  
      
    }
}

        